{% extends 'base.html' %} 
{% include 'navbar.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='public/index.css')}}">
{% endblock %}



{% block content %}

<h2 class="titleMain">Edit Post...</h2>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{ form.title.label(class="form-label")}}
        {{form.title(class="form-control")}}
        <br>
        {{ form.slug.label(class="form-label")}}
        {{form.slug(class="form-control")}}
        <br>
        {{ form.content.label(class="form-label")}}
        {{form.content(id=ckeditor1, class="form-control")}}
        <br>
        {{form.submit(class="btn btn-primary")}}
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content', class="ckeditor") }}
    <script>
        CKEDITOR.replace('content')

        var editor = CKEDITOR.instances.editor;

        // Define el ancho y la altura deseados
        var nuevoAncho = '300px';
        var nuevaAltura = '5px';

        // Establece el nuevo tamaño
        editor.resize(nuevoAncho, nuevaAltura);
    </script>


</div>

{% endblock %}