{% extends 'base.html' %} 
{% block title %} Post {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/public.css')}}">
{% endblock %}
{% include 'navbar.html' %}
{% block content %}
<br>
{% for message in get_flashed_messages() %}
  <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>{{ message }} </strong> 
  </div>
{% endfor %}
<div class="shadow p-3 mx-auto mt-3 mb-3 bg-body rounded">
    <h2 class="tituloPost">{{ post.title}}</h2>
    <small><b>Date: </b>{{post.poster.date_added}} | <b>Slug: </b>{{post.slug}} </small>
    <br>
    <hr>
    {{ post.content|safe}}
    <hr>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-2">
          {% if post.poster.profile_pic %}
            <img src="{{url_for('static', filename='pic/'+post.poster.profile_pic)}}" alt="profile photo" width="150" align="left" >
          {% else %}
          <img src="{{url_for('static', filename='images/picture.png')}}" alt="foto default" width="200" align="left" >
          {% endif %}
        </div>
        <div class="col-md-10">
          <div id="dataUser" class="card-body">
            <h5 class="card-title">{{post.poster.name}}</h5>
            <p class="card-text">
              {% if post.poster.about_me %}
                {{post.poster.about_me}}
              {% else %}
                Author without description 
              {% endif%}
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div>
        <a href="{{url_for('public.index')}}" class="btn btn-primary btn-sm">Ver Todos Posts</a>
        {% if current_user.is_authenticated %}
          {% if post.poster_id == current_user.id %}
          <a href="{{url_for('public.editPost', id=post.id)}}" class="btn btn-warning btn-sm">Editar Post</a>
          <a type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Borrar Post
          </a>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro que quiere borrar este post?</h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
                  <a type="button" href="{{url_for('public.deletePost', id=post.id)}}" class="btn btn-danger"class="btn btn-primary">Borrar Post</a>
                </div>
              </div>
            </div>
          </div>
          {%else%}
          <span class="notePost">You can't edit neiter delete this post, because don't belong you.</span>
          {% endif %}
        {% endif %}
    </div>
</div> 
{% endblock %}
