body{
    background:var(--color-body)
}
.myNavbar{
    background-color:var(--color-navbar);
}
.li_NavbarI{
    color:var(--color-itemNavbarI);
    font-weight: 500;
    font-size: 1.3rem;

}
.li_NavbarII{
    color:var(--color-itemNavbarII);
    font-weight: 500;
}
.li_NavbarIII{
    color:var(--color-itemNavbarIII);
    font-weight: 500;
}
.li_NavbarIV{
    color:var(--color-itemNavbarI);
    font-weight: 500;
}
#imageLoco{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.myNavbar{
    background-color: var(--color-navbar);
}
.titleMain{
    color:#662549;
    margin: 20px 0px;
    text-align: center;
}



#responsive{
    max-width: 100%;
    height:auto
}