body{
    background:var(--color-body)
}
.myNavbar{
    background-color:var(--color-navbar);
}
.li_NavbarI{
    color:var(--color-itemNavbarI);
    font-weight: 500;
    font-size: 1.3rem;

}
.li_NavbarII{
    color:var(--color-itemNavbarII);
    font-weight: 500;
}
#imageLoco{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.myNavbar{
    background-color: var(--color-navbar);
}
.caja {
	width: 90%;
    height: 200px;
	max-width: 1000px;
	margin: 10px auto 10px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.conten{
    height: 100%;
    background: var(--color-contenedor)
    /* background: wheat; */
}