:root{
    --color-body:#D8D9DA;
    --color-navbar:#26577C;
    --color-contenedor:#B4B4B3;
    --color-tituloPrincipal: #662549;
    --color-itemNavbarI: #E55604;
    --color-itemNavbarII:#7A9D54;
    --color-itemNavbarIII:#23b7cab4;

}
/* pallet Color Hunt: EBE4D1, B4B4B3, 26577C, E55604 */
/* https://colorhunt.co/palette/ebe4d1b4b4b326577ce55604 */