.conten{
    height: 100%;
    background: var(--color-contenedor);
    background: wheat
}
.caja {
	width: 90%;
    height: 200px;
	max-width: 1000px;
	margin: 10px auto 10px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.titleMain{
    color: var(--color-tituloPrincipal);
    margin: 20px 0px;
    text-align: center;
}
.tituloPost{
	color: var(--color-tituloPrincipal)
}
.notePost{
	margin-top: 1.1rem;
	color: var(--color-itemNavbarII);
	font-weight: 700;
	text-align: center;
}
