{% extends 'base.html' %} 
{% block meta %}{% endblock %}
{% block title %} Perfil {{current_user.username}} {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{% endblock %}
{% include 'navbar.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div id="flash-message" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>{{ message }} </strong> 
    </div>
{% endfor %}
<h1 class="titleMain"> Usuario: <span style="color:var(--color-itemNavbarII);">{{current_user.username}}</span></h1>
<!-- {% if login_successful %}
<div class="alert alert-success">
    ¡Bienvenido amigos!
</div>
{% endif %} -->
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <strong>Name: </strong>{{profile.name}}<br>
                    <strong>Username: </strong>{{profile.username}}<br>
                    <strong>Email: </strong>{{profile.email}}<br>
                    <strong>Date Joined: </strong>{{profile.date_added}}<br>
                    <strong>About me: </strong>{{profile.about_me}}<br>
                    <strong>Profile PIc: </strong>{{profile.profile_pic}}<br>
                    <div>
                        <a href="{{url_for('auth.editProfile', id=profile.id)}}" class="btn btn-primary btn-sm mt-2">Update Profile</a>
                    </div>  
                </div>
                <div class="col-4">
                    {% if profile.profile_pic !=None %}
                    <img src="{{url_for('static', filename='pic/'+profile.profile_pic)}}" alt="foto del perfil {{profile.profile_pic}}" width="200" align="right" >
                    {% else %}
                    <img src="{{url_for('static', filename='images/picture.png')}}" alt="foto default" width="200" align="right" >
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- <p class="card-text">Text</p> -->
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}