{% extends 'base.html' %} 
{% block title %}Register {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{% endblock %}

{% include 'navbar.html' %}
{% block content %}
<br>
<h1 class="titleMain">Sign in</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{ form.username.label(class="form-label")}}
        {{form.username(class="form-control")}}
        <br>
        {{ form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
        <br>
        {{ form.email.label(class="form-label")}}
        {{form.email(class="form-control")}}
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.aboutme.label(class="form-label")}}
        {{form.aboutme(class="form-control")}}
        <br>
        {{ form.password_hash.label(class="form-label")}}
        {{form.password_hash(class="form-control")}}
        {% for error in form.password_hash.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.password_hash2.label(class="form-label")}}
        {{form.password_hash2(class="form-control")}}
        <br>
        {{form.submit(class="btn btn-primary")}}
    </form>
{% endblock %}
