<nav class="navbar navbar-expand-sm navbar-dark myNavbar">
  <div class="container">
    <a class="navbar-brand" href="{{url_for('public.index')}}">
      <img id="imageLoco" src="{{url_for('static', filename='images/mate.jpg')}}" alt="" width="72" height="57">
    </a>
    <a class="navbar-brand li_NavbarI" href="{{url_for('public.index')}}"><center>Enseñanza de la</center><center>Matemática</center></a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 textNavbar">
              <li class="nav-item">
                  <a class="nav-link li_NavbarII" href="{{url_for('public.addPost')}}">Add Post</a>
              </li>
              
          </ul>
          <ul class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}
            <li   class="nav-item">
              <a class="nav-link li_NavbarIV" href="{{url_for('auth.dashboard')}}">Usuario: <span id="user" class="link li_NavbarII">{{user.username}}</span>
              
                <div id="myLink"></div>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link li_NavbarIV" href="{{url_for('auth.logout')}}">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link li_NavbarIV" href="{{url_for('auth.login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link li_NavbarIV" href="{{url_for('auth.sign')}}">Register</a>
            </li>

            {% endif %}
           
          </ul>
        

  </div>
</nav>




